* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}



/* Header */
.header {
  /* width: 550px; */
  height: 65px;
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #672280, #A626D3);
  color: white;
}

.headerImg {
  height: 200%;
  margin-right: 6px;
}

.headerTitle {
  font-size: 50px;
  margin-right: auto;
}

.headerText {
  font-size: 30px;
  font-weight: 500;
}



/* Form */
.form {
  display: grid;
  grid-template: 50px 50px/1fr 1fr;
  gap: 30px;
  width: 75%;
  height: 75%;
  margin-left: 12.5%;
}

.formLabel {
  margin-bottom: 5px;
  text-indent: 5px;
  font-size: 20px;
}

.formInput {
  font-size: 20px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  height: 50px;
  width: 100%;

}

.formButton {
  /* cover the whole column */
  grid-column: 1/-1;
  font-size: 30px;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  background: linear-gradient(to right, #672280, #A626D3);
  color: white;
  border: none;
  cursor: pointer;
}

/* Meme */
.meme {
  position: relative;
  width: 75%;
  margin-left: 12.5%;
}

.memeImage {
  width: 100%;
}

.topText,
.bottomText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  /* margin: 15px 0;
  padding: 0 5px; */
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.topText {
  top: 0;
}

.bottomText {
  bottom: 0;
}

/* Download */
.download {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2%;
  width: 15%;
  height: 5%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #672280, #A626D3);
  border: 1px solid #D5D4D8;
}